<div class="container">
	
	<div class="row">
		<div class="col-md-8">
		<div class="divTeam">
			Equipe  
			<input [(ngModel)]="teamName"
				placeholder="Equipe" 
			>

			<button (click)="onAjouterEquipe()"
			class="btn btn-success"
			>
			<i class="fa fa-plus" aria-hidden="true"></i>
			</button>
			&nbsp; &nbsp;
			<button class="btn btn-warning"
				(click)="onSaveBdd()">
				SAVE
			</button>
			&nbsp; &nbsp;
			<button class="btn btn-warning"
				(click)="onLoadBdd()"
			>LOAD</button>
					
		</div>
		<div id="demo">
			<app-equipe 
			  *ngFor="let e of entreprise.tabEquipe"
			  [equipe]="e"
			></app-equipe>

		</div>
		</div>
		<div class="col-md-4">
<div class="divUser">
	<form (ngSubmit)="onAjouterPersonne(b)" 
        #b="ngForm">
	<table>
		<tr>
			
			<td><input name="prenom" 
						ngModel
						placeholder="prénom" 
						/></td>
		</tr>
		<tr>
			<td><input name="nom" 
						ngModel
						placeholder="nom" 
				/></td>
		</tr>
		
		
		<tr>
			<td>
			<select name="equipe" ngModel [ngModel]="equipeDefault">
			<option value="0">Pas d'Equipe</option>	
			<option  *ngFor="let e of entreprise.tabEquipe" value="{{e.id}}">
				{{ e.name}}
			</option>
			</select>
		</td>
		</tr>

		<tr>
			
			<td>
			<button class="btn btn-success"
				type="submit"
			>
				Ajouter une personne
			</button>
		</td>
		</tr>
	</table>
	</form>
</div><!-- divUser -->	
		
		
		
<div class="divListUser">
	<table id="tabListUser">
		<tr *ngFor="let p of entreprise.tabPersonne">
			<td>  {{p.prenom }} {{ p.nom }}</td>
			<td>
				<button class="btn btn-warning"
					(click)="onEnleverPersonne(p.id)"
				>
					<i class="fa fa-trash" 
					aria-hidden="true" style="color:white" ></i>
				</button>
			</td>
		</tr>
</table>
	
</div>
	</div>	<!-- col4 -->
	</div><!-- row -->
	
</div><!-- container -->